.container {
    width: 100vw;
    min-height: 100vh;
    /* background: rgb(34,193,195);
    background: linear-gradient(23deg, rgba(34,193,195,1) 0%, rgba(69,45,253,1) 88%); */
    background: rgb(144,70,51);
    background: linear-gradient(20deg, rgba(144,70,51,1) 15%, rgba(52,60,200,1) 49%, rgba(223,31,209,1) 89%);
}

.textContainer {
    width: 80vw;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: solid 2px lightgrey;
}

.form {
    width: 80vw;
    margin: auto;
    margin-top: 100px;
}

.window {
    height: 600px;
    overflow: hidden;
}

.reel {
    position: relative;
    display: flex;
    height: inherit;
    width: max-content;
    transition: 0.1s ease-in-out;
}

.slide {
    height: inherit;
    width: 80vw;
}

.slide>* {
    margin-bottom: 30px;
}

/* .slide:nth-child(even) {
    background: red;
}

.slide:nth-child(odd) {
    background: blue;
} */

.step {
    font-size: 30px !important;
}

.title {
    font-size: 80px !important;
}

.status {
    color: lightgrey;
    transform: translateY(-25px);
}

.selectContainer {
    display: flex;
    gap: 50px;
}

.arrowContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.arrow {
    color: white;
    cursor: pointer;
    transition: 0.05s ease-in-out;
}

.arrow:hover {
    opacity: 0.5;
}

.arrowOn {
    color: white;
    cursor: pointer;
    transition: 0.05s ease-in-out;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1500s linear infinite;
    /* background-size: 100% 100%; */
    font-weight: bolder;
}

.arrowOn:hover {
    opacity: 0.5;;
}

@keyframes rainbow_animation {
    to {
        background-position: 10000vh 0;
    }
}